.p .qui{
    display:block;
    /*border:2px solid violet;*/
}


.p{
    display:flex;
    width:100%;
    /*border:2px solid blue;*/

}

.p div.todo{
    /*border:2px solid red;*/
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
    max-width:550px;
    margin-right:10px;
    margin-top:30px;
    margin-left:30px;
    margin-right:20px;
}

.p div.todo p{
    margin-top:10px;
    padding:10px;
    /*border:2px solid black;*/
}

.p div.todo h3{
    /*border:2px solid black;*/
}

.p div.todo h1{
    display:inline-block;
    margin-top: 10px;
    /* border:2px solid black; */
    margin-left:180px;
    font-size:20px;
    font-weight: bold;
}

.p div.todo ul{
    /*border:2px solid black;*/
    margin-left:40px;
}

.p div.todo ul li{
    list-style-type: circle;
}


.pro 
{
    color: rgb(64, 64, 164);
    margin-left:45%;
    margin-bottom:-20px;
    margin-top:60px;
}

.p.todo h1{
    
    border: 2px solid black;
}

.p div.todo img.one {
   /* border:2px solid black; */
   
    width:auto;
    height: 120px;
    object-fit: contain;
    margin-left:130px;
    margin-top:10px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
    
    
}

.p div.todo img.one:hover{
    transform:scale(1.1);
}


@media all and (max-width:480px)
{
    .p{
        margin-left:80px;
        /* border:2px solid black; */
        width:500px;
        display:flex;
        flex-direction:column;
    }

    .pro {
      /*   border:2px solid red; */
        width:200px;
        margin-left: 280px;
    }
}

@media all and (min-width:481px) and (max-width:767px){
    .p {
       /*  border:2px solid red; */
        display:flex;
        flex-direction:column;
        margin-left:100px;
    }

    .pro { 
        margin-left:300px;
       /*  border:2px solid green; */
    }
}

@media all and (min-width:768px) and (max-width:1024px){
    .p{
       /*  border:2px solid red; */
        margin-left:50px;
        width:900px;
    }

    .p img.one{
      /*   border:2px solid green; */
        width:300px;
    }

    .pro {
        /* border:2px solid violet; */
        width:200px;
        margin-left:440px;
        padding-left:50px;
    }

  
}

@Media all and (min-width:1025px) and (max-width:1280px)
{
    .pro{
      /*   border:2px solid blue; */
        width:200px;
        margin-left:520px;
    }
}

@media all and (min-width:1280px){
   /*  .p {
      /*   border:2px solid black; */
    } */

    .pro {
        /* border:2px solid red; */
        width:150px;
        margin-left:560px;
    }
}