.s{
    /*border:2px solid black;*/
    margin-top:50px;
    margin-right:20px;
    margin-left:20px;
    /*display: inline-block;*/
    

    
}

.s h1 {
    font-family: 'Arial Narrow', sans-serif;
    /* border:2px solid red; */
    font-size:30px;
    font-weight:bolder;
    color: rgb(64, 64, 164);
    margin-left:550px;
    
    
}

.s .skilllist img {
  border:1px solid black;
    
}

.s .skilllist li img {
    width:auto;
    height:100px;
    object-fit: contain;
    box-shadow :2px;
    margin-left: -10px;
}

.s .skilllist {
    display: flex;
    justify-content: space-evenly;
    margin-top:100px;
    /* border:2px solid red; */
    margin-left:-20px;
}

.ht 
{
    margin-left:-100px;
}

.s img:hover{
    transform: scale(1.1);
}

@media all and (max-width:480px)
{
    .s{
       /*  border:2px solid black; */
        width:600px;
        margin-left:60px;
    }

    .s li{
        width:30px;
    }

    .s h1{
        margin-left:250px;
    }
}

@media all and (min-width:481px) and (max-width:767px){
    .s{
        /* border:2px solid black; */
        width:700px;
    }

    .s li{
        width:40px;
        
    }

    .s h1 {
        margin-left: 300px;
    }
}

@media all and (min-width:768px) and (max-width:1024px)
{
    .s{
        /* border:2px solid black; */
        margin-left:80px;
        width:750px;
        margin-left:200px;
    }

    .s li {
        width:45px;
    }

    .s h1 {
        /* border:2px solid red; */
        margin-left:-10px;
        padding-left: 300px;
    }
}


@media all and (min-width:1025px) and (max-width:1280px)
{
    .s h1{
        margin-left:500px;
        /* border: 2px solid red; */
        width:150px;
    }
}


    @media all and (min-width:1281)
    {
        .s h1{
            margin-left:20px;
            /* border:2px solid red; */
        }
    }
    




